<html>
 <head></head>
 <body>
   <h1>welcome to Bookers ！！</h1>
   <p>
     <strong>In Bookers</strong>
      you can share and exchange your opinions , inpressions , and emotions</p>
   <p>about various books!</p>

   <p><%= link_to "Log in", "/users/sign_in" %><p>
   <p><%= link_to "Sigin Up", "/users/sign_up" %><p>
   

 </body>
</html>